[Desktop Entry]
Name=Cosmic Applet Usage
Comment=Show CPU and memory usage on your COSMIC panel
Type=Application
Icon=com.github.smsutherland.cosmic-applet-usage
Exec=cosmic-applet-usage %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
